@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
@font-face {
    font-family: "Ionicons";
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    position: fixed;
    height: 44px;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 16px;
    z-index: 2000;
    backdrop-filter: blur(5px);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    transition: .5s;
    display: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.brand-logo {
    vertical-align: initial;
}

.menu {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.menu ul {
    width: 100%;
    margin: 0;
    padding: 0 18%;
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
}

.menu ul li {
    list-style: none;
}

.lsize {
    font-size: 20px;
    line-height: 50%;
    height: 44px;
}

.brand-logo2,
.person {
    display: none;
}

.menu ul li,
.menu ul li a {
    color: #222;
    text-decoration: none;
}

.menu ul li,
.menu ul li a:hover {
    color: #000;
}

a.under {
    position: relative;
}

a.under::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    visibility: hidden;
    transition: all .5s ease-out;
}

a.under:hover::before {
    transform: scaleX(1);
    visibility: visible;
}

.opacity {
    opacity: 1;
    transition: .6s;
}

.menu ul li a.menu-item {
    transform: scale(1);
    transition: .6s;
    display: block;
}

.menu ul li a.menu-item.hide-item {
    transform: scale(0);
}

.menu ul li a.opacity.hide-item {
    opacity: 0;
}

.menu ul li:nth-child(2) a.opacity.hide-item {
    transition-delay: .6s;
}

.menu ul li:nth-child(3) a.menu-item.hide-item {
    transition-delay: .5s;
}

.menu ul li:nth-child(4) a.menu-item.hide-item {
    transition-delay: .4s;
}

.menu ul li:nth-child(5) a.menu-item.hide-item {
    transition-delay: .3s;
}

.menu ul li:nth-child(6) a.menu-item.hide-item {
    transition-delay: .2s;
}

.menu ul li:nth-child(7) a.menu-item.hide-item {
    transition-delay: .1s;
}

.menu ul li:nth-child(8) a.menu-item.hide-item {
    transition-delay: 0s;
}

.menu ul li:nth-child(2) a.menu-item {
    transition-delay: 0s;
}

.menu ul li:nth-child(3) a.menu-item {
    transition-delay: .1s;
}

.menu ul li:nth-child(4) a.menu-item {
    transition-delay: .2s;
}

.menu ul li:nth-child(5) a.menu-item {
    transition-delay: .3s;
}

.menu ul li:nth-child(6) a.menu-item {
    transition-delay: .4s;
}

.menu ul li:nth-child(7) a.menu-item {
    transition-delay: .5s;
}

.menu ul li:nth-child(8) a.menu-item {
    transition-delay: .6s;
}

.search-form {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0);
    width: 600px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.search-form.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%);
    transition-delay: .5s;
}

.search-form input {
    width: 100%;
    height: 44px;
    background: transparent;
    color: #000;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-form input::placeholder {
    text-transform: capitalize !important;
    color: #000 !important;
}

.search-butn {
    position: absolute;
    top: 12px;
    left: -26px;
    font-size: 18px;
    color: #000;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.close-search {
    position: absolute;
    right: 18%;
    top: 0;
    height: 44px;
    background: transparent;
    color: #000;
    line-height: 50%;
    font-size: 18px;
    text-align: right;
    width: 20px;
    cursor: pointer;
    opacity: 0;
    border: none;
    outline: none;
    visibility: hidden;
    transform: rotate(90deg);
    transition: .5s;
}

.close-search.active {
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg);
    transition: .5s;
}

button.lsize {
    background: none;
    border: none;
    outline: none;
    line-height: 50%;
}

input[type=search]:focus {
    background: none !important;
    border: none !important;
    outline: none !important;
}

#search,
.person1 {
    transition: .5s;
    cursor: pointer;
}

.nav2 {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 44px;
    height: 44px;
    margin: 0px 20px;
}

.hamburger {
    display: none;
    z-index: 1;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.search-form2 {
    display: none;
}

.nav-link:last-child {
    position: relative;
}

.login-logout-popup {
    position: fixed;
    left: 50%;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    min-width: fit-content;
    height: fit-content;
    transition: .5s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.bg {
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    transition: .3s !important;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
}

.account-info {
    font-family: 'Baloo Bhaijaan 2', cursive !important;
    font-size: 20px !important;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #000 !important;
}

.account-email {
    font-family: 'Baloo Bhaijaan 2', cursive !important;
    font-size: 17px !important;
    text-align: center;
    color: #424245 !important;
}

.log-btns {
    display: flex;
    column-gap: 10px;
}

#user-btn,
#sign-btn {
    font-family: 'Baloo Bhaijaan 2', cursive !important;
    padding: 10px;
    background: #4ec4f2;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
}

#user-btn:hover,
#sign-btn:hover {
    background: #3588ed;
}

.login-logout-popup a {
    font-family: 'Baloo Bhaijaan 2', cursive !important;
    width: 100%;
    padding: 5px;
    text-transform: capitalize;
    color: #06c !important;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    vertical-align: unset;
    font-size: 16px !important;
    border: none;
    border-radius: 0;
    line-height: normal;
    position: relative;
}

.login-logout-popup a.bottom::before {
    content: '';
    position: absolute;
    bottom: -50%;
    width: 95%;
    left: 50%;
    margin: 2px 0;
    transform: translateX(-50%);
    height: 1px;
    background-color: #aaa;
}

.mt20 {
    margin-top: 20px;
}

#log-text,
#log-icon {
    line-height: 25px;
}

#log-text {
    position: relative;
}

.sicount {
    position: absolute;
    font-size: 9px;
    background: #ff5a00;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 19px;
    border-radius: 100%;
    color: #fff;
    top: -4px;
}

#log-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.bg.active {
    z-index: 2001;
}

.blink {
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 769px) {
    nav {
        background: #000;
        backdrop-filter: none;
    }
    .nav2 {
        display: flex;
    }
    .menu ul {
        position: fixed;
        flex-direction: column;
        left: 0px;
        right: 0;
        top: -100%;
        justify-content: normal;
        align-items: flex-start;
        background-color: #000;
        width: 100%;
        height: 0;
        text-align: center;
        transition: 1s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        padding: 0;
    }
    .menu ul li,
    .menu ul li a {
        color: #fff
    }
    .menu ul li::before {
        content: '';
        width: 100%;
        height: 1px;
        background: #424245;
        display: block;
    }
    .menu ul li.no-top::before {
        content: none;
    }
    .menu ul li {
        width: 100%;
        text-align: left;
        font-size: 17px;
        line-height: 1.23536;
        letter-spacing: -0.022em;
        height: 44px;
        padding: 0 18%;
    }
    .nav-menu.active {
        transition: .5s;
        top: 44px;
        height: 100vh;
    }
    .menu ul li a.menu-item {
        margin: 0px 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu ul li:nth-child(2),
    .menu ul li:nth-child(9),
    .menu ul li:nth-child(10) {
        display: none;
    }
    .search-form,
    .close {
        display: none;
    }
    .search-form2 {
        display: block;
        width: 100%;
        height: 35px;
        margin: 20px 0;
        text-align: center;
        transition: .5s;
    }
    .search-form2::after {
        content: '';
        width: 100vw;
        height: 1px;
        display: block;
        background: #424245;
        transform: translateY(10px);
    }
    .search-form2 form {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        column-gap: 20px;
        padding: 0 5vw;
    }
    .search-form2 div button {
        border: none;
        outline: none;
        background: #1d1d1d;
        padding: 10px;
        border-radius: 10px;
        height: 35px;
    }
    .searchbtn2 {
        color: #fff;
    }
    .search-form2 input {
        width: 80%;
        height: 35px;
        background: #1d1d1f;
        color: #fff;
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 10px;
        padding: 10px;
        transition: .5s;
    }
    .search-form2 input:focus {
        background: #1d1d1f !important;
    }
    .search-form2 input::placeholder {
        text-transform: capitalize !important;
        color: #6c6c6e !important;
    }
    #search2:focus-within {
        width: 65%;
    }
    .menu.focused {
        height: 0px;
    }
    .nav-menu.focused {
        height: 100vh;
    }
    .nav-menu.active.focused {
        top: 10px;
    }
    a.under::before {
        display: none;
    }
    .brand-logo2,
    .person {
        color: #fff;
        display: flex;
        font-size: 29px;
    }
    .login-logout-popup {
        width: 50% !important;
    }
}

@media only screen and (max-width: 426px) {
    .login-logout-popup {
        width: 80% !important;
    }
    /* .bg {
        z-index: 2002;
    } */
}